<div style="background-color: #e6eaf0">
  <div style="margin: 0px auto; max-width: 600px">
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="width: 100%"
    >
      <tbody>
        <tr>
          <td
            style="
              direction: ltr;
              font-size: 0px;
              padding: 20px 0;
              text-align: center;
            "
          >
            <div
              style="
                font-size: 0px;
                text-align: left;
                direction: ltr;
                display: inline-block;
                vertical-align: top;
                width: 100%;
              "
            >
              <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
                width="100%"
              >
                <tbody>
                  <tr>
                    <td
                      style="
                        background-color: #ffffff;
                        border-radius: 6px;
                        vertical-align: top;
                        padding: 20px;
                      "
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        width="100%"
                      >
                        <tbody>
                          <!-- Company -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                Company
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ company }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Name -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                Name
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ name }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Email -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                Email
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ email }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Phone -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                Phone
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ phone }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Street -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                Street
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ street }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Post Code -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                                Postcode
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ postCode }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Location -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                              Location
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ location }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Message -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                              Message
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ message }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Referer -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0 0 10px 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  font-weight: 700;
                                  line-height: 1;
                                  text-align: left;
                                  color: #000000;
                                "
                              >
                              How did you find out about us?
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 15px;
                                  line-height: 1.4;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.8);
                                "
                              >
                                {{ referer }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                          <!-- Submitted At -->
                          <tr>
                            <td
                              align="left"
                              style="
                                font-size: 0px;
                                padding: 0;
                                word-break: break-word;
                              "
                            >
                              <div
                                style="
                                  font-family: Arial, sans-serif;
                                  font-size: 14px;
                                  line-height: 1;
                                  text-align: left;
                                  color: rgba(0, 0, 0, 0.42);
                                "
                              >
                                Submitted at {{ submittedAt }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              align="center"
                              style="
                                font-size: 0px;
                                padding: 17px 0;
                                word-break: break-word;
                              "
                            >
                              <p
                                style="
                                  border-top: solid 1px rgb(223, 223, 223);
                                  font-size: 1px;
                                  margin: 0px auto;
                                  width: 100%;
                                "
                              ></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
