@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

* {
    font-family: 'Inter';
}

*:focus {
    outline: none;
}

.container {
    @apply max-w-7xl mx-auto;
}

.reveal {

    position: relative;
    transition: 1s all ease;
    opacity: 0;

    &.active {
        opacity: 1;
    }

    &.reveal-top {
        transform: translateY(100px);
        &.active {
            transform: translateY(0);
        }
    }

    &.reveal-bottom {
        transform: translateY(-100px);
        &.active {
            transform: translateY(0);
        }
    }

    &.reveal-left {
        transform: translateX(100px);    
        &.active {
            transform: translateX(0);
        }
    }

    &.reveal-right {
        transform: translateX(-100px);    
        &.active {
            transform: translateX(0);
        }
    }
}