@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

* {
    font-family: 'Inter';
}

*:focus {
    outline: none;
}

.container {
    @apply max-w-7xl mx-auto;
}

/* Swiper Navigation */
.swiper-button-prev, .swiper-button-next {
    @apply text-white !important;
}

/* Swiper Pagination */
.swiper-pagination-bullet {
    @apply bg-white !important;
}
.swiper-pagination-bullet-active {
    @apply bg-white !important;
}